@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body,html{
    color:white;
    background-color: rgb(8, 8, 8);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    scroll-behavior: smooth;
    
}
    /* Estilização de cabeçalho e navBar */
h5{
    text-align: center;
    color: black;
}
header{
    height:fit-content;
}
#header-nav {
    width: 100%;
    background-color: black;
}
#nav-title{
    color:rgb(250, 208, 0);
    font-family: 'Bebas Neue', cursive;
    align-self: center;
}
#nav-texto{
    display: flex;
    padding-bottom: 0;
}
#nav-buttons{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    color: black;
    background-color: rgb(250, 208, 0);
    border-radius: 0;
}

.contentMain{
    height: 95%;
    background-image: url(../img/darkbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.campoPesquisaFilme {
    margin: 0 auto;
    padding: 3% 0;
    height: 100px;
}

.campoPesquisaFilme ul {
    text-align: center;
    align-content: center;
    vertical-align: middle;

    /* display: inline-block; */
    /* width: 30%; */
    vertical-align: top;
    margin: 0 33%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 10px;

}

.campoEmAlta {
    background-color: rgb(8, 8, 8);
    padding: 1% 2%;
    margin: 5% 3% 1% 3%;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

#emAlta {
    color: rgb(250, 208, 0);
    font-weight: bold;
    text-align: center;
    font-size: 115%;
    padding: 1% 2% 1% 2%;
}

.poster {
    width: 25%;
    filter: grayscale(100%);
    transition: 1s all;
}

.poster:hover {
    filter: none;
    transition: 1s all;
}


/* As coisas do footer */
#perguntas{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;

    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}
.accordion-item{
    width: 70%;
    color: black;
}
.rodape{
    margin: 1%;
    padding-bottom: 1%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contato{
    color: rgb(250, 208, 0);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    transition: 1s;
}
#contato:hover{
    transform: scale(1.2);
    transition: 1s;
}