@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body,html{
    color:white;
    background-color: rgb(8, 8, 8);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    scroll-behavior: smooth;
    
}
    /* Estilização de cabeçalho e navBar */
h5{
    text-align: center;
    color: black;
}
header{
    height: min-content;
}

#header-nav {
    width: 100%;
    background-color: black;
}
#nav-title{
    color:rgb(250, 208, 0);
    font-family: 'Bebas Neue', cursive;
    align-self: center;
}
#nav-texto{
    display: flex;
    padding-bottom: 0;
}
#nav-buttons{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}
#pesquisa{
    display: flex;

}
#pesquisa-input{
    border-radius: 0;
}
.btn{
    color: black;
    background-color: rgb(250, 208, 0);
    border-radius: 0;
}

.contentMain{
    height: 40%;
    background-image: url(../img/darkbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.rodape{
    padding: 1%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
#contato{
    color: rgb(250, 208, 0);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    transition: 1s;
}
#contato:hover{
    transform: scale(1.2);
    transition: 1s;
}
.filme_lista{
    display: flex !important;
    justify-content: space-around;
    padding: 0;
}
.list-content{
    height: 50%;
}



#infoFilme{
  display: none;
  margin: 0;
  height: 80%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  
}
#infoContainer{
  width: 30%;
}
 
  .btn-outline-success:hover {
    background-color: #212f45;
  }
  
  .btn-custom-round {
    padding: 5px 9px !important;
  }
  
  .list-content {
    margin-top: 5%;
  }
  
  .filme_lista {
    list-style: none;
    display: block;
    border: 1px solid transparent;
  }
  
  .filme {
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    border: 1px solid transparent;
    background-size: cover;
  }
  
  .filme:hover {
    transform: scale(1.15);
    z-index: 999;
    transition: 0.5s;
  }
  
  .filme:hover .filme_info {
    transform: scale(1);
    transition: 0.5s;
  }
  
  .filme:first-child {
    margin-left: 70px;
  }
  
  .col-12 {
    text-align: center;
  }
  
  .filme_info {
    background-color: #171717;
    padding: 10px;
    height: 80px;
    width: 100%;
    transform: scale(0);
  }
  
  .filme_info .col-12 {
    margin-top: 5px;
  }
  
  .filme_info .col12:first-child {
    margin-bottom: 20px;
  }
  
  .filme_info p {
    color: #7e7b7b;
    font-size: 12px;
  }
  
  section {
    margin-bottom: -100px;
    position: relative;
    width: 100%;
  }
  
  section:hover {
    z-index: 9;
  }

  .img-fluid{
    height: 250px;
    width: 250px;
    -webkit-box-shadow: 7px 8px 4px -1px rgba(250,208,0,0.63); 
box-shadow: 7px 8px 4px -1px rgba(250,208,0,0.63);
  }

  @media (max-width:900px) {
    body{
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    }
    #header-nav{
        flex-direction: column;
        position: static;
    }
    #header-container{
        flex-direction: column;
    }
    #nav-container{
        flex-direction: column;
    }
    #nav-buttons{
        flex-direction: column;
        width: 80%;
    }
    #contentMain{
        height: auto;
    }
    .filme_lista{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .filme{
      width: 100%;
      margin: 0%;
      padding: 0%;
    }
    .filme:first-child{
      margin: 0%;
    }
    .row{
      padding-top: 50px !important;
    }
  
  .rodape{
    
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  #infoFilme {
    margin-top: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  #infoContainer{
    width: 80%;
    text-align: center;
  }
}