@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body,html{
    color:white;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
/* Estilização de cabeçalho e navBar */
h5{
    text-align: center;
    color: black;
}
header{
    height:fit-content;
}
#header-nav {
    width: 100%;
    background-color: black;
}
#nav-title{
    color:rgb(250, 208, 0);
    font-family: 'Bebas Neue', cursive;
    align-self: center;
}
#nav-texto{
    display: flex;
    padding-bottom: 0;
}
#nav-buttons{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    color: black;
    background-color: rgb(250, 208, 0);
    border-radius: 0;
}
/* Estilização de descrição do corpo */
#main{
    height: 85%;
}

.texto-main {
    height: 100%;
    background-image: url(../img/darkbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.texto-corpo{
    width: 40%;
    border-bottom: 10px;
    border-color: gray;
}
.img-corpo{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
strong{
    color: rgb(250, 208, 0);
}
.container-cards{
    display: flex;
    justify-content: space-evenly;
    
}
.card{
    border-color: gray;
    border-radius: 0;
    width: 30%;
}
.card-text{
    color: black;
    text-align: justify;
}

@media (max-width:900px) {
    body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    }
    #header-nav{
        flex-direction: column;
    }
    #header-container{
        flex-direction: column;
    }
    #nav-container{
        flex-direction: column;
    }
    #nav-buttons{
        flex-direction: column;
        width: 80%;
    }

    .main{
        width: 100%;
    }
    .container-cards{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .cards{
        width: 100%;
    }
    .main-container{

        flex-direction: column;
        
    }
    .texto-corpo {
        width: 80%;
        text-align: center;
    }
}